*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.calc{
    width: 400px;
    height: 525px;
    background: silver;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}

#screen{
    width: 80%;
    border: none;
    height: 50px;
    margin-top: 63px;
    margin-left: 37px;
    padding-left: 12px;
    pointer-events: none;
}
.btn{
    width: 70px;
    height: 40px;
    margin-top: 28px;
    margin-left: 15px;
    background: aliceblue;
}
.buttons{
    margin-top: 30px;
    margin-left: 13px;
}